
<body>

    <div class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="card-header">
            <h3>Register</h3>
            <div class="d-flex justify-content-end social_icon">
  
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Role">
                
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Email Adress">
                
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="password">
              </div>
              
              <div class="form-group">
                <input type="submit" value="Register" class="float-right login_btn">
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-center links" style="margin-bottom:10px">
                Already registered ?
              </div>
              <button class=" btn btn-outline-warning btn-lg btn-block" (click)="onClick()" style="margin-bottom:10px">Sign In</button>

          </div>
        </div>
      </div>
    </div>
    </body>
