<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="row" colspan="3">Home Sales (Consolidated)</th>
        </tr>
        <tr>
        <th scope="col"></th>
        <th scope="col">Today</th>
        <th scope="col">Yesterday</th>
        <th scope="col">Till Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">LP</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">FP</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Railway</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Special Steel</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Semis</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="row" colspan="3">Export (Consolidated)</th>
        </tr>
        <tr>
        <th scope="col"></th>
        <th scope="col">Today</th>
        <th scope="col">Yesterday</th>
        <th scope="col">Till Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">LP</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">FP</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Semis</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="row" colspan="3">Stock (Consolidated)</th>
        </tr>
        <tr>
        <th scope="col"></th>
        <th scope="col">Today</th>
        <th scope="col">Yesterday</th>
        <th scope="col">Till Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">LP-CMO</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">FP-CMO</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">LP-Plant</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">FP-Plant</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="row" colspan="3">Cash Collection (Consolidated)</th>
        </tr>
        <tr>
        <th scope="col"></th>
        <th scope="col">Today</th>
        <th scope="col">Yesterday</th>
        <th scope="col">Till Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">LP</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">FP</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Railway</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Export</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
    </tbody>
  </table>
