<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="informationId">Information Id</label>
        <input type="text" class="form-control" id="informationId" placeholder="information Id">
      </div>
      <div class="form-group col-md-6">
        <label for="UploadNo">UploadNo</label>
        <input type="text" class="form-control" id="UploadNo" placeholder="UploadNo">
      </div>
    </div>
    <div class="form-group">
      <label for="ShortTitleDesc">Short Title Description</label>
      <input type="text" class="form-control" id="ShortTitleDesc" placeholder="Short Title Description">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="UploadedBy">Uploaded By</label>
          <input type="text" class="form-control" id="UploadedBy" placeholder="Uploaded By">
        </div>
        <div class="form-group col-md-6">
          <label for="UploadOn">Upload On</label>
          <input type="date" class="form-control" id="UploadOn" placeholder="Upload On">
        </div>
      </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="UploadDeptt">Upload Dept</label>
        <input type="text" class="form-control" id="UploadDeptt" placeholder="Upload Dept">
      </div>
      <div class="form-group col-md-4">
        <label for="UploadRole">Upload Role</label>
        <input type="text" class="form-control" id="UploadRole" placeholder="Upload Role">
      </div>
      <div class="form-group col-md-2">
        <label for="UploadUnit">Upload Unit</label>
        <input type="number" class="form-control" id="UploadUnit" placeholder="Upload Unit">
      </div>
    </div>
    <div class="form-group">
        <label for="ReportSummary">Report Summary</label>
        <input type="text" class="form-control" id="ReportSummary" placeholder="Report Summary">
      </div>
      <div class="form-group">
        <label for="ReportDetails">Report Details</label>
        <input type="text" class="form-control" id="ReportDetails" placeholder="Report Details">
      </div>
      <div class="form-group">
        <label for="InfoSource">Info Source</label>
        <input type="text" class="form-control" id="InfoSource" placeholder="Info Source">
      </div>
      <div class="form-group">
        <label for="FurtherReadLinks">Further Read Links</label>
        <input type="text" class="form-control" id="FurtherReadLinks" placeholder="Further Read Links">
      </div>
      <div class="form-group">
        <label for="MetaData">Meta data / search key words</label>
        <input type="text" class="form-control" id="MetaData" placeholder="Meta data / search key words">
      </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>