<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="row" colspan="3"> Operation (Consolidated)</th>
        </tr>
        <tr>
        <th scope="col"></th>
        <th scope="col">Today</th>
        <th scope="col">Yesterday</th>
        <th scope="col">Till Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Hot Metal</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Crude Steel</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Finished Steel</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="row" colspan="3"> Operation (BSP)</th>
        </tr>
        <tr>
        <th scope="col"></th>
        <th scope="col">Today</th>
        <th scope="col">Yesterday</th>
        <th scope="col">Till Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Hot Metal</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Crude Steel</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Finished Steel</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="row" colspan="3"> Operation (BSL)</th>
        </tr>
        <tr>
        <th scope="col"></th>
        <th scope="col">Today</th>
        <th scope="col">Yesterday</th>
        <th scope="col">Till Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Hot Metal</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Crude Steel</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Finished Steel</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="row" colspan="3"> Operation (DSP)</th>
        </tr>
        <tr>
        <th scope="col"></th>
        <th scope="col">Today</th>
        <th scope="col">Yesterday</th>
        <th scope="col">Till Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Hot Metal</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Crude Steel</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Finished Steel</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="row" colspan="3"> Operation (ISP)</th>
        </tr>
        <tr>
        <th scope="col"></th>
        <th scope="col">Today</th>
        <th scope="col">Yesterday</th>
        <th scope="col">Till Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Hot Metal</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Crude Steel</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Finished Steel</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="row" colspan="3"> Operation (SSP)</th>
        </tr>
        <tr>
        <th scope="col"></th>
        <th scope="col">Today</th>
        <th scope="col">Yesterday</th>
        <th scope="col">Till Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Hot Metal</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Crude Steel</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Finished Steel</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="row" colspan="3"> Operation (ASP)</th>
        </tr>
        <tr>
        <th scope="col"></th>
        <th scope="col">Today</th>
        <th scope="col">Yesterday</th>
        <th scope="col">Till Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Hot Metal</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Crude Steel</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Finished Steel</td>
        <td>500</td>
        <td>700</td>
        <td>800</td>
      </tr>
    </tbody>
  </table>
